



.proizvod {
    width: 300px;
    height: 400px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
  }
  .slika-preview {
    width: 280px;
    height: 280px;
    border: 8px solid white;
  }
  .sveca-preview {
    width: 280px;
    height: 280px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .sveca-hover {
    width: 280px;
    height: 280px;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    opacity: 0;
  }
  .sveca-hover:hover {
    opacity: 10;
    transition: 0.5s;
  }
  .naslov-proizvoda {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    color: #87807c;
    display: block;
  }
  .cena-proizvoda {
    font-family: "Raleway", sans-serif;
    color: var(--shop-text-color);
    font-style: italic;
    font-weight: 500;
  }
  .cena {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
  }
  