@import url('colors.css');
* {
  margin: 0px;
  padding: 0px;
}
.navigation-container {
    position: relative;
}
.navigation-container ul li a {
  color: var(--nav-text-color);
}

.cart {
    color: var(--nav-text-color);
}

.broj-proizovda {
    border-color: 1px solid var(--nav-text-color) ;
}
.body-style {
  background-color: #f1eee7;
  display: flex;
  justify-content: center;
}
.container {
  width: 1000px;
  height: 100%;
}

.contact-container {
    background: white;
    padding: 25px;
}

.contact-naslov {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 50px;
}

.contact-naslov p {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 28px;
    color: #87807c;
}

.inner-container {
    background: white;
    border: 1px solid #a8a19b;
    padding: 60px;
}
  
.contact-form {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    flex-basis: 35%;
    font-family: 'Lora', serif;
    color: #87807c;
}

.right {
    display: flex;
    flex-basis: 65%;
}

form {
    width: 100%;
}

form label {
    font-family: 'Lora', serif;
    color: #87807c;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px ;
    display: block;
}
form input {
    margin-bottom: 20px;
    padding-left: 8px;
    border: 1px solid #a8a19b;
    height: 30px;
    font-family: 'Lora', serif;
    font-size: 15px;
    width: 250px;
    box-sizing: border-box;
  }
  
form input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #87807c;
    transition: 0.2s;
  }

.ime-i-email {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form textarea {
    resize: none;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 8px 8px 0 8px;
    border: 1px solid #a8a19b;
    font-family: 'Lora', serif;
    font-size: 15px;
    box-sizing: border-box;
    word-wrap: normal;
  }

.posalji {
    height: 35px;
    width: 90px;
    font-weight: 300;
    font-size: 13px;
    color: #f1eee7;
    padding-left: 0;
    background-color: #a8a19b;
    cursor: pointer;
    float: right;
    margin-bottom: 0;
}
  
.posalji:focus {
    box-shadow: none;
}
.posalji:hover {
    background-color: #87807c;
    transition: 0.4s;
}

.contact-us {
margin-bottom: 15px;
}

.contact-us p {
    font-size: 16px;
}

.drustvene-mreze img {
    width: 35px;
    margin-right: 10px;
}


.left h3 {
    padding-top: 4px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
}