* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f1eee7;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 200px;
  width: 1000px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.product {
  padding: 10px;
  display: flex;
  border: 1px solid black;
  background-color: #f1eee7;
}

form {
  width: 100%;
  display: flex;
}

form input,
textarea {
  outline: none;
}

.slika {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.slika-preview {
  text-align: center;
  margin-right: 50px;
}

.btn {
  margin: 5px 0;
}

.naslov-proizvoda {
  display: block;
  width: 200px;
  margin: auto;
}

.cena-proizvoda {
  display: inline-block;
  width: 50px;
  margin: 5px 0;
}

.opis {
  flex-basis: 60%;
  padding-top: 30px;
  position: relative;
}

.opis textarea {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
}

.sacuvaj {
  display: block;
  float: right;
  margin-top: 20px;
  padding: 10px 30px;
}
