@import url("colors.css");

* {
  margin: 0px;
  padding: 0px;
}
nav {
  text-align: center;
}
.main-body {
  background-image: url(../images/Drugiset/image_6483441.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation-container {
  height: 150px;
}
.navigation-container:hover {
  background-color: var(--background-color-onhover);
  transition: 0.5s;
}
.navigation-container:hover ul li a {
  color: var(--text-silver-color);
  transition: 0.5s;
}
.navigation-container:hover ul li a img {
  background-color: var(--background-color-onhover);
  transition: 0.39s;
}
.navigation-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.navigation-container ul li {
  display: inline;
}
.navigation-container ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 15px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.img-logo {
  width: 150px;
  border-radius: 50%;
}
