@import url("colors.css");
/* Body */
* {
  margin: 0px;
  padding: 0px;
}
.d-flex {
  display: flex;
}
.l-border {
  border-left: 1px solid var(--nav-text-color);
}
.r-border {
  border-right: 1px solid var(--nav-text-color);
}
/* Navigation css*/
.navigation-container {
  height: 150px;
  width: 100%;
  position: absolute;
}
.navigation-container:hover {
  background-color: var(--background-color-onhover);
  transition: 0.5s;
}
.navigation-container ul {
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.navigation-container ul li {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.navigation-container ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 15px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.navigation-container:hover ul li a {
  color: var(--nav-text-color);
  transition: 0.5s;
}
.navigation-container:hover .cart {
  color: var(--nav-text-color);
  transition: 0.5s;
}
.navigation-container:hover ul li .img-logo {
  background-color: var(--background-color-onhover);
  transition: 0.39s;
}
.navigation-container:hover .broj-proizovda {
  border: 1px solid var(--nav-text-color);
  transition: 0.39s;
}
.img-logo {
  width: 150px;
  border-radius: 50%;
}
.cart {
  position: absolute;
  right: 15%;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}
.cart p {
  margin-right: 10px;
}
.broj-proizovda {
  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid white;
  border-radius: 100%;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: -1;
  display: block;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
/* Footer */
footer {
  background-color: var(--background-color-onhover);
}
.footer-box {
  text-align: center;
  flex-basis: 50%;
  padding: 10px;
  color: var(--nav-text-color);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 0.2em;
}
.footer-box img {
  width: 30px;
  padding: 10px 10px;
}
.footer-text-mid {
  font-size: 9px;
  padding: 10px 0px;
}
