@import url("colors.css");
/* Body */
* {
  margin: 0px;
  padding: 0px;
}
/* Navigation css*/
.navigation-container {
  height: 150px;
}
.navigation-container:hover {
  background-color: var(--background-color-onhover);
  transition: 0.5s;
}
.navigation-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.navigation-container ul li {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.navigation-container ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 15px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.navigation-container:hover ul li a {
  color: var(--nav-text-color);
  transition: 0.5s;
}
.navigation-container:hover ul li .img-logo {
  background-color: var(--background-color-onhover);
  transition: 0.39s;
}
.img-logo {
  width: 150px;
  border-radius: 50%;
}
