* {
    margin: 0px;
    padding: 0px;
  }
header {
   height: 470px;
}

header img{
      width: 100%;
    
}

.body-style {
    background-color: #f1eee7;
    display: flex;
    align-content: center;
    justify-content: center;
  }

.container {
    width: 1400px;
    height: auto;
  }