* {
  margin: 0px;
  padding: 0px;
}
header {
  width: auto;
  height: 250px;
  background: url(../images/Ostalo/night-1374501\ copy.jpg);
  background-size: cover;
}

.body-style {
  padding-top: 100px;
  background-color: #f1eee7;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  width: 1400px;
  height: auto;
  display: flex;
  margin:0 50px 0 50px ;
  padding: 0 50px 0 50px;
}

.left {
  flex-basis: 50%;
  border-right: 1px solid black;

}

.right {
  flex-basis: 50%;
  padding-left: 90px;
  
  
}

.porudzbina-title {
  font-weight: normal;
  font-family: 'Lora', serif;
  margin-bottom: 40px;
}

.forma {
  width: 80%;
  border-bottom: 1px solid #a8a19b;
  padding-bottom: 20px;
}

.forma input {
  margin-bottom: 20px;
  padding-left: 8px;
  border: 1px solid #a8a19b;
  border-radius: 5px;
  height: 50px;
  font-family: 'Lora', serif;
  font-size: 15px;
  box-sizing: border-box;
}

.forma input:focus {
  outline: none;
  box-shadow: 0 0 10px #87807c;
  transition: 0.2s;
}

.ime,
.prezime {
  width: 47%;
}

.ulica,
.broj-tel {
  width: 100%;
}

.grad {
  width: 70%;
}

.zip-broj {
  width: 24%;
}

.razmak {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.naruci {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.naruci a {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #a8a19b;
}

.naruci a:hover {
  color: #87807c;
}

.naruci input {
  height: 55px;
  width: 100px;
  padding-left: 0;
  font-weight: 600;
  color: #f1eee7;
  background-color: #a8a19b;
  cursor: pointer;
}

.naruci input:focus {
  box-shadow: none;
}
.naruci input:hover {
  background-color: #87807c;
  transition: 0.4s;
}

.forma textarea {
  resize: none;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 8px 8px 0 8px;
  border: 1px solid #a8a19b;
  border-radius: 5px;
  font-family: 'Lora', serif;
  font-size: 15px;
  box-sizing: border-box;
  word-wrap: normal;
}

.forma textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #87807c;
  transition: 0.2s;
}

.prikaz-proizvoda {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid  #a8a19b;
  padding-bottom: 20px;
}
.slika-proizvoda {
  height: 70px;
  width: 70px;
  border: 0px solid #a8a19b;
  border-radius: 10px;
  position: relative;
  text-align: center;
  flex-basis: 10%;
  
}

.badge {
  height: 25px;
  width: 25px;
  border: 1px transparent black;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge p {
  font-family: 'Lora', serif;
  color:#f1eee7;
}
.thumbnail-proizvod{
  height: 70px;
  width: 70px;
  border-radius: 10px ;
}

.ime-i-cena {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
}

.ime-i-cena p {
  font-family: 'Lora', serif;
  font-weight: 700;
}
