<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gaia Studio | Admin</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminPage.css}"/>
</head>
<body>
    <div class="container">
        <a href="#" class="dodaj">Dodaj nov proizvod</a>
        <div class="product" th:each="candle : ${candles}">
            <div class="slika-preview">
                <img class="sveca-preview" th:src="@{${'/assets/images/Prviset/'+candle.type+'.JPG'}}">
                <p class="naslov-proizvoda" th:text="${candle.type}"> </p>
                <p class="cena-proizvoda"><span class="cena" th:text="${candle.price}"> </span> RSD</p>
            </div>
            <div class="opis">
                    <p th:text="${candle.description}"> </p>
                    
                    <div class="linkovi">
                        <a href="#" class="izmeni">Izmeni</a>
                        <a href="#" class="obrisi">Obriši</a>
                    </div>
            </div>
            
        </div>
    </div>
</body>
</html>