<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />

	<title>Gaia Studio | Cart </title>

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Marko Radosavljević, Janko Obradović, Filip Andrić" />
	<meta name="robots" content="NO INDEX, NO FOLLOW" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
	<link rel="stylesheet" th:href="@{/assets/css/basket.css}"/>
	<link rel="stylesheet" th:href="@{/assets/css/colors.css}"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
<header>
	<nav>
		<div class="navigation-container">
			<ul class="d-flex">
				<li><a href="#">Home</a></li>
				<li><a href="#">Shop</a></li>
				<li><img th:src="@{/assets/images/moj logo.png}" class="img-logo"/></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
	</nav>
</header>
	<main class="body-style">
		<div class="container">
        <p class="shop-naslov">KORPA</p>
        <div class="basket-container">
            <div class="basket">
                <p>Korpa je prazna.</p>
            </div>
        </div>
        </div>
        
    </main>

    <footer class="d-flex">
        <div class="footer-box r-border">
        <p class="footer-text-first">Imate pitanja ?</p>
        <br>
        <p class="footer-text-mid">Ukoliko zelite nesto da nas pitate <br> to mozete odraditi putem nasem mail adrese</p>
        <br>
        <p>mail@domen.rs</p>
        </div>
        <div class="footer-box l-border">
        <p>Zapratite nas</p>
        <img th:src="@{/assets/images/facebook-square-brands.png}" alt="">
        <img th:src="@{/assets/images/instagram-brands.png}" alt="">
        </div>
    </footer>

</body>
</html>