<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />

	<title>Gaia Studio | Shop </title>

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Marko Radosavljević, Janko Obradović, Filip Andrić" />
	<meta name="robots" content="NO INDEX, NO FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/product.css}"/>
	<link rel="stylesheet" th:href="@{/assets/css/colors.css}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="navigation-container">
              <div class="logo-mob">
                <a th:href="@{/}"><img th:src="@{assets/images/moj logo.png}" class="img-logo" /></a>
              </div>
              
              <ul class="d-flex" id="menu-list">
                <li><a th:href="@{/}">Početna</a></li>
                <li><a th:href="@{/shop}">Shop</a></li>
                <li id="logo">
                  <a th:href="@{/}"><img th:src="@{assets/images/moj logo.png}" class="img-logo" /></a>
                </li>
                <li><a th:href="@{/contact}">Kontakt</a></li>
                <li><a th:href="@{/about}">O nama</a></li>
                <div class="cart d-flex">
                  <a th:href="@{/cart}"><p>Korpa</p> </a>
                  <div class="broj-proizovda" th:text="${cart.numberOfItems}"> </div>
                </div>
              </ul>
              
              <div class="menu-button" id="menu-button" onclick="menuShowHide()">
                <img th:src="@{/assets/images/iconmonstr-menu-1-240.png}" />
                <p>MENU</p>
              </div>
    
              <div class="cart-mobile">
                <a th:href="@{/cart}"><p>Korpa</p> </a>
                <div class="broj-proizovda" th:text="${cart.numberOfItems}"> </div>
              </div>
          </nav>
    </header>
	<main class="body-style">
		<div class="container">
            <p class="shop-naslov">SHOP</p>
            <div class="naslov-proizvoda">
                <p th:text="${candle.type}"></p>
            </div>
            <div class="proizvod">
                <div class="left">
                    <div class="slika">
                       <img th:src="@{${'/assets/images/2/'+candle.type+'.jpg'}}">
                    </div>
                </div>
                <div class="right">
                    <div class="opis-i-cena">
                        <div class="opis">
                            <p th:text="${candle.description}"> </p>
                        </div>
                        <hr>  
                        <div class="cena">
                            <p class="cena-naslov">Cena:</p>
                            <p class="cena-broj" ><span th:text="${candle.price}">  </span>  RSD</p>
                        </div>
                        <hr>
                        <form class="kolicina-i-dugme" th:action="@{${'/cart/add-item/'+(candle.id - 1)}}" th:object="${item}" method="POST">
                            <div class="kolicina">
                                <p class="cena-naslov" >Količina</p> <input type="number" max="10" min="1" th:field="*{quantity}">
                            </div>
                            <div class="dugme">
                                <button type="submit">Dodaj u korpu</button>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="container-footer d-flex">
          <div class="footer-box">
            <div class="f-right w-350">
              <p class="footer-text-first">Imate pitanja ?</p>
              <br />
              <p class="footer-text-mid">
                Ukoliko zelite nesto da nas pitate <br />
                to mozete odraditi putem nasem mail adrese
              </p>
              <br />
              <p>mail@domen.rs</p>
            </div>
          </div>
          <div class="footer-box">
            <div class="f-left w-350">
              <p>Zapratite nas</p>
              <img th:src="@{/assets/images/facebook-square-brands.png}" alt="" />
              <img th:src="@{/assets/images/instagram-brands.png}" alt="" />
            </div>
          </div>
        </div>
      </footer>

    <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/product.js}"></script>

</body>
</html>